.playerName {
  display: block;
  padding-top: 10px;
  padding-left: 5px;
}

.playerNamesHeader {
  display: block;
  border-bottom: 1px solid black;
  padding-left: 5px;
}
.playerNamesWrapper {
  padding-bottom: 20px;
  border: 1px solid black;
  margin-top: 20px;
}

.buttonStartWrapper {
  padding-top: 20px;
}

.roomIdWrapper {
  padding-top: 20px;
}

.rightSideUIWrapper {
  width: 50%;
  float: right;
}

.leftSideUIWrapper {
  width: 50%;
  float: left;
}
